.main-container {
  border: 1px solid gray;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.circle {
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: gray;
}