#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.otp-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.otp-container input {
  padding: 20px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}