#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.scroll-elements-container {
  height: 50vh;
  overflow: auto;
  background-color: gray;
  color: black;
  width: 50vw;
}

.scroll-items {
  border: 1px solid gray;
  background-color: lightyellow;
  padding: 10px;
}